<div class="container">
  <form #pessoaform="ngForm" autocomplete="on" (ngSubmit)="salvar(pessoaform)">

    <div class="ui-g">
      <div class="ui-g-12">
        <h1>{{ editando ? 'Edição de' : 'Nova' }} Pessoa</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Nome</label>
        <input pInputText type="text" required minlength="5" name="input_nome" #input_nome="ngModel"
          ngModel [(ngModel)]="pessoa.nome">

          <app-message [control]="input_nome" error="required" text="Informe um nome"></app-message>
          <app-message [control]="input_nome" error="minlength"
            text="O nome deve ter pelo menos
              {{ input_nome.errors?.minlength?.requiredLength }} caracteres"></app-message>
      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Logradouro</label>
        <input pInputText type="text" required name="input_logradouro" #input_logradouro="ngModel" ngModel
          [(ngModel)]="pessoa.endereco.logradouro">
          <app-message [control]="input_logradouro" error="required" text="Informe um endereço"></app-message>
      </div>
      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Número</label>
        <input pInputText type="text" required name="input_numero" #input_numero="ngModel" ngModel
          [(ngModel)]="pessoa.endereco.numero">
          <app-message [control]="input_numero" error="required" text="Informe um número"></app-message>
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Complemento</label>
        <input pInputText type="text" name="complemento" [(ngModel)]="pessoa.endereco.complemento">
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Bairro</label>
        <input pInputText type="text" required name="input_bairro" #input_bairro="ngModel" ngModel
          [(ngModel)]="pessoa.endereco.bairro">
          <app-message [control]="input_bairro" error="required" text="Informe um bairro"></app-message>
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>CEP</label>
        <p-inputMask mask="99.999-999" placeholder="00.000-00" required name="input_cep"
            #input_cep="ngModel" ngModel [(ngModel)]="pessoa.endereco.cep"></p-inputMask>
            <app-message
              [control]="input_cep" error="required" text="Informe um número para o CEP">
            </app-message>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
          <label>Estado</label>

          <p-dropdown placeholder="Selecione..." [autoWidth]="false"
            [filter]="true" [options]="estados"
            [(ngModel)]="estadoSelecionado" name="estadoSelecionado"
            (onChange)="carregarCidades()"
            #estado="ngModel" required></p-dropdown>{{estadoSelecionado}}

            <app-message [control]="estado" error="required"
              text="Informe o estado"></app-message>
        </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
          <label>Cidade</label>

          <p-dropdown placeholder="Selecione..." [autoWidth]="false"
            [filter]="true" [options]="cidades"
            [(ngModel)]="pessoa.endereco.cidade.codigo" name="cidade"
            #cidade="ngModel" required
            [disabled]="!estadoSelecionado"></p-dropdown>

            <app-message [control]="cidade" error="required"
              text="Informe a cidade"></app-message>
      </div>

      <div class="ui-g-12">
        <p-panel header="Contatos">
          <app-pessoa-cadastro-contato [contatos]="pessoa.contatos"></app-pessoa-cadastro-contato>
        </p-panel>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" class="btn btn-primary"
            [disabled]="!pessoaform.valid"></button>
        <button pButton type="button" label="Novo" class="ui-button-info"
          (click)="nova(pessoaform)"></button>
        <a routerLink="/pessoas">Voltar para a pesquisa</a>
      </div>

    </div>

  </form>
</div>
