<div class="container">
  <form #lancamentoform="ngForm" autocomplete="off" (ngSubmit)="salvar(lancamentoform)">

    <div class="ui-g">
      <div class="ui-g-12">
        <h1>{{ editando ? 'Edição de' : 'Novo' }} Lançamento</h1>
      </div>

      <div class="ui-g-12">
        <p-selectButton name="tipo" [options]="tipos" #tipo
          [(ngModel)]="lancamento.tipo"></p-selectButton>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>Vencimento</label>
        <p-calendar dateFormat="dd/mm/yy" name="calendar_vencimento" ngModel #calendar_vencimento="ngModel"
          required [inline]="false" [readonlyInput]="false" [showIcon]="true"
          [(ngModel)]="lancamento.dataVencimento"></p-calendar>

          <app-message [control]="calendar_vencimento" error="required"
            text="Informa a data de vencimento" ></app-message>
      </div>
      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>{{ tipo.value === 'RECEITA' ? 'Recebimento' : 'Pagamento'}}</label>
        <p-calendar dateFormat="dd/mm/yy" name="calendar_pagamento"
          [inline]="false" [readonlyInput]="true" [showIcon]="true"
          [(ngModel)]="lancamento.dataPagamento"></p-calendar>
      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Descrição {{ input_descricao.errors | json }}</label>
        <input pInputText type="text" name="input_descricao"
            ngModel #input_descricao="ngModel" required minlength="5"
            [(ngModel)]="lancamento.descricao">

          <app-message [control]="input_descricao" error="required"
            text="Informe uma descrição"></app-message>

          <app-message [control]="input_descricao" error="minlength"
            text="Mínimo de {{ input_descricao.errors?.minlength?.requiredLength }} caracteres"></app-message>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Valor</label>
        <input pInputText type="text" placeholder="0,00" name="input_valor" required #input_valor="ngModel"
            currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', allowNegative: false }"
            ngModel [(ngModel)]="lancamento.valor">

            <app-message [control]="input_valor" error="required"
            text="Informe um valor"></app-message>

      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Categoria</label>
        <p-dropdown [options]="categorias" [filter]="true" [autoWidth]="false" required name="categoria"
              ngModel placeholder="Selecione..." [(ngModel)]="lancamento.categoria.codigo"></p-dropdown>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Pessoa</label>
        <p-dropdown [options]="pessoas" [filter]="true" [autoWidth]="false" required name="drop_pessoa"
              #drop_pessoa="ngModel" ngModel [(ngModel)]="lancamento.pessoa.codigo"
              placeholder="Selecione..."></p-dropdown>
      </div>
      <div class="ui-g-12 ui-fluid">
        <label>Observação</label>
        <textarea pInputTextarea rows="3" name="observacao" [(ngModel)]="lancamento.observacao"></textarea>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" class="btn btn-primary"
            [disabled]="!lancamentoform.valid"></button>
        <button pButton type="button" label="Novo" class="ui-button-info"
          (click)="novo(lancamentoform)"></button>
        <a routerLink="/lancamentos">Voltar para a pesquisa</a>
      </div>

    </div>

  </form>

</div>
